* {
    background-repeat: no-repeat;
}

body {
    margin: 0;
    font-family: 'StratosSkyeng', sans-serif;
    background-position: bottom;
    background-image: url(./images/back.png);
}

.header {
    height: 100vh;
    background-image: url(./images/start.jpg);
    background-position: center;
    background-attachment: fixed;
}

.content {
    padding-top: 75px;
    border-top: 25px solid;
    position: relative;
}

#table {
    width: 1200px;
    height: 100vh;
    border-collapse: collapse;
    margin: 0 auto;
}

tr, td {
    border: 25px solid #e2d80a;
    text-align: center;
    vertical-align: bottom;
}

.comic {
    border: 5px solid #e2d80a;
    text-align: center;
    vertical-align: bottom;
}

img {
    width: 560px;
}

p {
    background-color: #e2d80a;
    width: max-content;
    font-size: 30px;
    border-radius: 25px;
    margin: 23px auto;
    padding: 10px 30px;
}

a {
    display: block;
    background-color: #e2d80a;
    text-decoration: none;
    color: black;
    padding: 11px 30px;
    border-radius: 50px;
    font-size: 38px;
    position: absolute;
    bottom: 75px;
    right: 80px;
}